.container-fluid{
color: white
}
.col{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 400px;
    margin-top: 10px;
    border: none;
    }
.card img{
    width: auto;
    height: 600px;

}
.card-body{
    text-align: start;
}